@import './abstract/colors';
@import './base/reset';


.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 100vw;
}  
  
.list {
    padding: 20px 0;
    max-width: 900px;
    width: 100%;
    margin: auto auto;
    padding-left: 0;
  }
  
  
.Messages-message {
    display: flex;
    margin-top: 10px;
  
    &.currentMember {
      flex-direction: row-reverse;
      text-align: right;
    }  
}
  

  
.currentMember {
    .Message-content {
        align-items: flex-start;
        .text {
            background-color: $flexColor;
        }
    }
} 
 
  
.Message-content {
    display: inline-block;
    .username {
      display: block;
      color: $fontColor;
      font-size: 14px;
      padding-bottom: 4px;
    }
  
    .text {
      padding: 10px;
      max-width: 400px;
      border-radius: 12px;
      background-color: $color1;
      color: $fontColor;
      display: inline-block;
    }
}
  

form {
    display: flex;
    width: 100vw;
    justify-content: space-between;
    max-width: 900px;
    margin: 0 auto 70px;
}
  
input {
    color: $fontColor;
    background-color: $color1;
    padding: 5px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid $flexColor;
    flex-grow: 1;
}
  
button {
    padding: 5px 10px;
    font-size: 16px;
    background-color: $flexColor;
    color: $fontColor;
    border: solid 1px $color1;
    border-radius: 8px;
    margin-left: 10px;
  }
